<p>home works!</p>

{{home.Configuration.TargetTemperature}}



<div *ngIf="home !== undefined" class="dashboard-container" color="secondary">
    <div flex fxLayout="row" fxLayout.lt-md="column">
        <div fxFlex="25">    
            <mat-card class="card">
                <mat-card-subtitle>Smart Home</mat-card-subtitle>
                <mat-card-title>General</mat-card-title>
                <mat-card-content>
                  <mat-slide-toggle [(ngModel)] = "home.Configuration.Enabled">
                    Enabled
                  </mat-slide-toggle>
                </mat-card-content>
            </mat-card>                      
        </div>
        <div fxFlex="25" >    
            <mat-card class="card">
                <mat-card-subtitle>Smart Home</mat-card-subtitle>
                <mat-card-title>Mode Settings</mat-card-title>
                <mat-card-content>
                    <form class="full-width">
                        <mat-form-field appearance="fill">
                          <mat-label>Select an option</mat-label>
                          <mat-select [(ngModel)]="home.Configuration.Mode">
                            <mat-option value="Spring">Spring</mat-option>
                            <mat-option value="Autumn">Autumn</mat-option>
                          </mat-select>
                        </mat-form-field>

                        <mat-form-field class="full-width" appearance="fill">
                          <mat-label>Thermostat Interval (ms)</mat-label>
                          <input matInput [(ngModel)] = "home.Configuration.IntervalThermostat" name="IntervalThermostat" type="number" placeholder="Ex. 300000" value="">
                        </mat-form-field>
                    </form>
                </mat-card-content>
            </mat-card>            
        </div>
        <div fxFlex="25" >  
            <mat-card class="card">
                <mat-card-subtitle>Smart Home</mat-card-subtitle>
                <mat-card-title>Target Settings</mat-card-title>
                <mat-card-content>
                  <form class="full-width">
                    <mat-form-field class="full-width" appearance="fill">
                      <mat-label>Target Temperature</mat-label>
                      <input matInput [(ngModel)] = "home.Configuration.TargetTemperature" name="TargetTemperature" type="number" placeholder="Ex. 27" value="">
                    </mat-form-field>
                    <mat-form-field class="full-width" appearance="fill">
                      <mat-label>Target Humidity</mat-label>
                      <input matInput [(ngModel)] = "home.Configuration.TargetHumidity" name="TargetHumidity" type="number" placeholder="Ex. 45" value="">
                    </mat-form-field>
                    <mat-form-field class="full-width" appearance="fill">
                      <mat-label>Temperature Tolerance</mat-label>
                      <input matInput [(ngModel)] = "home.Configuration.TemperatureTolerance" name="TemperatureTolerance" type="number" placeholder="Ex. 2" value="">
                    </mat-form-field>
                </form>
                </mat-card-content>
            </mat-card>              
        </div>
        <div fxFlex="25" >    
            <mat-card class="card">
                <mat-card-subtitle>Smart Home</mat-card-subtitle>
                <mat-card-title>Air Settings</mat-card-title>
                <mat-card-content>
                  <form class="full-width">
                    <mat-form-field appearance="fill">
                      <mat-label>Select an option</mat-label>
                      <mat-select [(ngModel)]="home.Configuration.AirMode">
                        <mat-option value="auto">Auto</mat-option>
                        <mat-option value="cool">Cool</mat-option>
                        <mat-option value="dry">Dry</mat-option>
                        <mat-option value="heat">Heat</mat-option>
                        <mat-option value="fan">Fan</mat-option>
                      </mat-select>
                    </mat-form-field>

                    <mat-form-field class="full-width" appearance="fill">
                      <mat-label>Mode</mat-label>
                      <input matInput [(ngModel)] = "home.Configuration.AirMode" name="AirMode" placeholder="Ex. 27" value="">
                    </mat-form-field>
                    <mat-form-field class="full-width" appearance="fill">
                      <mat-label>Temperature</mat-label>
                      <input matInput [(ngModel)] = "home.Configuration.AirTemperature" name="AirTemperature" type="number" placeholder="Ex. 45" value="">
                    </mat-form-field>
                    <mat-form-field class="full-width" appearance="fill">
                      <mat-label>Fan</mat-label>
                      <input matInput [(ngModel)] = "home.Configuration.AirFan" name="AirFan" type="number" placeholder="Ex. 2" value="">
                    </mat-form-field>
                </form>
                </mat-card-content>
            </mat-card>            
        </div>
    </div>
    <div flex fxLayout="row"  fxLayout.lt-md="column">
      <div fxFlex="50">
        <button class="full-width" mat-raised-button color="primary">Edit</button>
      </div>
      <div fxFlex="50">
        <button class="full-width" mat-raised-button color="primary">
          save
        </button>
      </div>
    </div>
    <div flex fxLayout="row" fxLayout.lt-md="column">
        <div fxFlex="50" >    
            <mat-card class="card">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title>Shiba Inu</mat-card-title>
                  <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                  <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                  </p>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button>LIKE</button>
                  <button mat-button>SHARE</button>
                </mat-card-actions>
            </mat-card>            
        </div>
        <div fxFlex="50" >  
            <mat-card class="card">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title>Shiba Inu</mat-card-title>
                  <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                  <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                  </p>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button>LIKE</button>
                  <button mat-button>SHARE</button>
                </mat-card-actions>
            </mat-card>              
        </div>
    </div>
</div>